<div class="container">
  <div class="row">
    <h1>Eat-Da-Burger</h1>
  </div>
</div>

<div class="container">
  <div class="row">
    <h2>Menu</h2>
    <ul class="burger_list">
      {{#each burgers}}
      {{#unless this.devoured}}
      <li>{{this.burger_name}}</li>
      <button type="submit">Devour It!</button>
      {{/unless}}
      {{/each}}
    </ul>
  </div>
</div>

<div class="container">
  <div class="row">
    <h2>Eaten Burgers</h2>
    <ul>
      {{#each burgers}}
      {{#if this.devoured}}
      <li>{{this.burger_name}}</li>
      {{/if}}
      {{/each}}
    </ul>
  </div>
</div>

<div class="container">
  <div class="row">
    <h2>Add a Burger</h2>
  </div>
</div>

<div class="container">
  <div class="row">
    <form action="/api/burgers" method="POST">
      <div class="form-group">
        <label for="ca">Burger Name:</label>
        <input type="text" name="burger_name">
        <button type="submit">Add to menu</button>
      </div>
    </form>
  </div>
</div>