<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1 class="text-center">Eat-Da-Burger</h1>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-4 text-left" id="menu">
      <h2>Menu</h2>
        {{#each burgers}}
        {{#unless this.devoured}}
        {{this.burger_name}}
        <form class="devour" data-attr="{{this.id}}">
          <button class="devour-it" type="submit">Devour It!</button>
        </form>
        <br>
        {{/unless}}
        {{/each}}
    </div>
    <div class="col-sm-4" >
      <img id="burger-gif" src="https://media.giphy.com/media/WBTUlyKBVlTTa/giphy.gif" alt="burger">
    </div>
    <div class="col-sm-4 text-right" id="devoured">
      <h2>Eaten Burgers</h2>
        {{#each burgers}}
        {{#if this.devoured}}
        <form>
          <button class="hvr-ripple-out" type="button" disabled>{{this.burger_name}}</button>
        </form>
        <br>
        {{/if}}
        {{/each}}
    </div>
  </div>
</div>

<!-- section for results modal -->
        <div id="matchResults" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog"
            aria-labelledby="myLargeModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <img id="burger-modal" alt="burger">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button id="resetSurvey" type="button" class="btn btn-primary">Find a new match!</button>
                    </div>
                </div>
            </div>
        </div>

<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h2 class="text-center">Add a Burger</h2>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-12 text-center">
      <form action="/api/burgers" method="POST">
        <div class="form-group">
          <label for="ca">Burger Name:</label>
          <input type="text" name="burger_name">
          <button type="submit">Add to menu</button>
        </div>
      </form>
    </div>
  </div>
</div>